/* fallback */
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Material Icons";
  src: url(./Material-Icons.woff2) format("woff2");
}

.material-icons {
  direction: ltr;
  line-height: 1;
  word-wrap: normal;
  font-size: 1.5rem;
  font-style: normal;
  white-space: nowrap;
  font-weight: normal;
  text-transform: none;
  display: inline-block;
  letter-spacing: normal;
  font-family: "Material Icons";
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-dark {
  color: #0000008a;
}
.material-icons.md-dark.md-inactive {
  color: #00000042;
}

.material-icons.md-light {
  color: #ffffff;
}
.material-icons.md-light.md-inactive {
  color: #ffffff4d;
}
